$Cinzel: "Cinzel", serif;
$Decorative: "Cinzel Decorative", serif;
$Fredericka: "Fredericka the Great", serif;
$Sacramento: "Sacramento", cursive;
$Sevillana: "Sevillana", cursive;
$Monsieur: "Monsieur La Doulaise", cursive;
$Zeyada: "Zeyada", cursive;

.single-icon-row {
  display: grid;
  grid-template-columns: 30px 1fr;
  margin: auto;
}

.dual-icon-row {
  display: grid;
  grid-template-columns: 30px 30px 1fr;
}

.app-frame {
  display: grid;
  grid-template-rows: 12vh 1fr;
  gap: 0;
  height: 98vh;
  // background-color: aliceblue;
}

.header {
  display: grid;
  grid-template-columns: 1fr 55vw 25vw;
  align-items: center;
  justify-content: space-around;
  margin: 0 0 1px 0;
  padding: 0;
  overflow: hidden;
  background-color: #a6a27d;
  // background: url("assets/images/Banner-bg.png");
  // background-repeat: no-repeat;
  // background-size: cover;
  border-bottom: 6px ridge rgb(74, 73, 73);
  // border-bottom: 4px ridge rgb(9, 86, 221);

  & img {
    width: 10vw;
    margin-left: 2vw;
    // border: 1px solid red;
  }
}

.HeaderTitle {
  margin: auto;
  font-family: "Allura", cursive;
  font-size: 4vmax;
  font-weight: 800;
  text-align: center;
  width: 60vw;
  padding: 0;
  // border: 1px solid red;
}

.slide-container {
  display: flex;
  width: 98%;
  height: 25vw;
  padding: 3vh;
  margin-bottom: 2vh;
  border-radius: 10px;
  border: 1px solid rgb(97, 92, 92);
  box-shadow: 0px 15px 5px 10px rgb(52, 53, 53);

  & img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}

.links {
  font-size: 4.5vw !important;
  // border: 1px solid blue;
}

.footer {
  margin: 0px auto 5vh auto;
  width: 50vw;
  text-align: center;
  // background-color: aliceblue;
  border: 1px solid rgb(41, 41, 43);
  box-shadow: 10px 10px 8px 2px #888888;

  & p {
    font-size: 0.8rem;
    line-height: 0.5;
  }

  & .copyright {
    margin: 2vh auto;
    font-size: 0.8rem;
    padding: 5px;
  }
}

.billing {
  margin: auto;
  text-align: center;
  width: 50vw;
  border-radius: 8px;
  border: 2px solid rgb(109, 106, 106);
  background-color: rgb(226, 209, 209);

  & p {
    line-height: 0.5;
  }
}

.main-content {
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sale-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 100%;
  // height: 40vh;
  background-color: #a6a27d;
  border: 4px solid gray;
  border-radius: 10px;
  // margin: 10px 3vw;
  // padding: 2vw 0px;
}

.sale-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-bottom: 5vh;
}

.upcoming-content {
  margin-bottom: 30px;
  padding: 30px;
  background-image: url("./assets/images/Events/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-attachment: fixed;
}

.testimonial-header {
  font-family: $Decorative;
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
}

.testimonials-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 0px;
  gap: 20px;
  width: 98vw;
  margin: 1% auto;
  border: 4px inset rgb(206, 202, 202);
  // background-color: #cccccc;
  // background-image: url("assets/images/panel.jpg");
  // background-image: url("assets/images/MahagonyGrain.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
}

.testimonial-instructions {
  font-size: 1.2rem;
  margin: 20px auto;
  text-align: center;
}

.mailDiv {
  width: 20vw;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  // background-color: #5c5eff;
  font-weight: 700;
  text-align: center;
}

.iframe-container {
  height: 100%;
}

.home-image-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 97%;
  // background-image: url("assets/images/bg.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;

  & img {
    height: 70vh;
    // width: 70vw;
    // max-inline-size: 100%;
    // block-size: auto;
  }
}

.home-content {
  display: flex;
  flex-direction: column;
  width: 100%;

  & .intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 5vh auto;
    border: 3px inset #cccccc;
    border-radius: 10px;
    padding: 5px 8px;
    // background: url("assets/images/bg.jpg");
    // background-repeat: no-repeat;
    // background-size: cover;

    & h4 {
      padding-top: 10vh;
    }
  }
}

.carousel-container {
  width: 86%;
  margin: auto;
  padding: 10px 30px;
  overflow: hidden;
  border: 3px inset black;
  // background-color: #888888;
}

#carousel-header {
  font-family: $Cinzel;
  text-align: center;
  font-size: 1.2vw;
  padding: 0%;
  // border: 1px solid black;
}

#slide-img {
  width: 28vw;
  height: 30vh;
  border: 2px solid black;
  border-radius: 10px;
}

.plyr {
  --plyr-border-radius: 8px;
}

.keep-in-touch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65vw;
  margin: 1vh auto 5vh auto;
  padding: 0px 0px 2vh 0px;
  // background-color: aliceblue;
  border: 1px solid #cccccc;
  box-shadow: 10px 10px 8px 2px #888888;
}

.about-us {
  display: grid;
  grid-template-columns: 25vw 35vw;
  align-items: center;
  justify-content: center;
  padding: 3vh 2vw;
  width: 60vw;
}

.btn-div {
  margin: auto;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 5vh auto;
  border: 1px solid gray;
  border-style: double;
  // background-color: aliceblue;
  border-radius: 8px;

  & h1 {
    margin: auto;
  }

  & .btn {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 2vh auto;
  }
}

.form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3vw;
  width: 100%;
  padding: 1vh 1vw;
}

.form-cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1vw;
  width: 100%;
}

.hidden {
  display: none;
}

.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 60vh;

  & h2 {
    padding: 15vh auto;
  }
}

.thank-you {
  display: block;
  font-size: 1.5rem;
  font-style: italic;
  color: blue;
  margin: 4vh auto;
  text-align: center;
}

.zoom-in:hover {
  cursor: pointer;
}

.dev {
  border: 2px solid red;
}

.dev2 {
  border: 2px solid blue;
}

/* FORMAT SCROLLBARS */

* {
  scrollbar-width: thin;
  scrollbar-color: blue #cccccc;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #cccccc;
}

*::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
  border: 3px solid #cccccc;
}

.section::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

// ****************************************************
// ***************** MEDIA QUERIES ********************
// ****************************************************

// Macbook Pro and xtra large Monitors
@media screen and (min-device-width: 2800px) {
  .keep-in-touch {
    & h1 {
      font-size: 1.5vw;
    }

    & p {
      font-size: 1vw;
    }
  }

  .footer {
    & h4 {
      font-size: 1.5vw;
    }

    & p {
      font-size: 0.8vw;
    }

    & .copyright {
      font-size: 0.8vw;
    }
  }
}

// Large Monitors - solid green
@media only screen and (max-width: 1500px) {
  .header {
    grid-template-columns: 1fr 50vw 30vw;
  }
}

// IPAD Pro - dashed purple
@media only screen and (max-width: 1024px) and (min-height: 1366px) {
}

// Small, Older Monitors - solid purple
@media only screen and (max-width: 1024px) {
}

// Tablet Only - dashed orange
@media only screen and (min-width: 768px) and (max-width: 980px) {
  .app-frame {
    grid-template-rows: 20vh 1fr;
  }

  .header {
    grid-auto-rows: auto;
    align-items: center;
    justify-content: center;
    gap: 0;
  }

  .HeaderTitle {
    margin: 0;
    // border: 4px solid red;
  }

  .form-row {
    flex-direction: column;
  }

  .keep-in-touch {
    & p {
      text-align: center;
    }
  }
}

// IPad - solid orange
@media screen and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .header {
    // display: flex;
    grid-template-columns: 1fr 45vw 35vw;
    // flex-direction: column;
    // gap: 0;
    // justify-content: space-around;

    & img {
      // width: 45vw;
    }
  }

  .HeaderTitle {
    font-size: 6vmin;
    // width: auto;
  }

  .links {
    // font-size: 2.5vw !important;
    // width: auto;
  }
}

// iPhone 13 and iPhone 13 Pro
/* 2532x1170 pixels at 460ppi */
@media only screen and (device-width: 390px) and (device-height: 844px) and (device-pixel-ratio: 3) {
}

// Smartphone Only
@media only screen and (max-width: 767px) {
  .app-frame {
    grid-template-rows: 30vh 1fr;
  }

  .header {
    flex-direction: column;
    // background-color: #888888;
    // background: none;
    // background: url("assets/images/Mobile-Banner-bg.png");

    & img {
      // padding-top: 5vw;
      width: 30vw;
    }
  }

  .HeaderTitle {
    margin: 0;
  }

  .form-row {
    flex-direction: column;
  }

  .keep-in-touch {
    width: 100%;

    & h1 {
      font-size: 2.5vmax;
    }

    & p {
      text-align: center;
    }
  }

  .footer {
    width: 80vw;

    & .copyright {
      font-size: 1.5vmax;
    }
  }

  .billing {
    width: 90vw;

    & p {
      font-size: 5vw;
    }
  }

  .contact-form {
    width: 95%;
  }
}

// Smartphone Portrait
@media only screen and (max-width: 479px) {
  .header {
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: space-around;

    & img {
      width: 45vw;
    }
  }

  .HeaderTitle {
    font-size: 6vmin;
    width: auto;
  }

  .links {
    font-size: 2.5vw !important;
    width: auto;
  }
}
