.app-frame {
  display: grid;
  grid-template-rows: 15vh 1fr;
  gap: 2vh;
  height: 98vh;
  background-color: aliceblue;
}

.header {
  display: grid;
  grid-template-columns: 40vw 40vw 1fr;
  font-size: calc(10px + 2vmin);
  overflow: hidden;
  border-bottom: 2px inset rgb(124, 124, 124);
  background: url("assets/images/Banner-bg.png");
  background-repeat: no-repeat;
  background-size: cover;

  & img {
    width: 10vw;
  }
}

.footer {
  margin: 0px auto 5vh auto;
  width: 50vw;
  text-align: center;
  background-color: aliceblue;
  border: 1px solid rgb(41, 41, 43);
  box-shadow: 10px 10px 8px 2px #888888;

  & p {
    font-size: 0.8rem;
    line-height: 0.5;
  }

  & .copyright {
    margin: 2vh auto;
  }
}

/* .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5vw;

  & p {
    padding: 0;
    margin: 0;
    font-size: 3.2rem;
    font-style: italic;
    font-weight: 700;
  }
} */

.main-content {
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

.iframe-container {
  height: 100%;
}

.image-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 95%;

  & img {
    max-inline-size: 100%;
    block-size: auto;
  }
}

.home-content {
  display: flex;
  flex-direction: column;
  width: 100%;

  & .intro {
    font-size: 3.2rem;
    font-weight: 700;
    text-align: center;
    width: 70%;
    margin: 5vh auto;
    padding: 0.1vh 5vw 5vh 5vw;
    /* color: rgb(206, 206, 4); */
    background: url("assets/images/bg1.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px inset #cccccc;
    /* box-shadow: 10px 10px 8px 10px #888888; */

    & h4 {
      padding-top: 10vh;
    }
  }
}

.keep-in-touch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65vw;
  margin: 1vh auto 5vh auto;
  padding: 0px 0px 2vh 0px;
  background-color: aliceblue;
  border: 1px solid #cccccc;
  box-shadow: 10px 10px 8px 2px #888888;
}

.about-us {
  display: grid;
  grid-template-columns: 25vw 35vw;
  align-items: center;
  justify-content: center;
  padding: 3vh 2vw;
  width: 60vw;
}

.btn-div {
  margin: auto;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10vh auto;
  border: 1px solid gray;

  & h2 {
    margin: auto;
  }

  & .btn {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 2vh auto;
  }
}

.form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3vw;
  width: 100%;
  padding: 1vh 1vw;
  /* border: 1px solid red; */
}

.form-cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1vw;
  width: 100%;
}

.hidden {
  display: none;
}

.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 60vh;

  & h2 {
    padding: 15vh auto;
  }
}

.thank-you {
  display: block;
  font-size: 1.5rem;
  font-style: italic;
  color: blue;
  margin: 4vh auto;
  text-align: center;
}
